<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>电机操作系统</title>
  <script>
    !function(_window, _document) {
      var _documentEle = _document.documentElement,
        devicePixelRatio = _window.devicePixelRatio || 1;
  
      function count() {
        // var _cwidth = _documentEle.clientWidth / 10;
        var _cwidth = _documentEle.clientWidth / 3.75;
        _documentEle.style.fontSize = _cwidth + "px";
      };
  
      if (
        function e(){ 
          _document.body ? _document.body.style.fontSize = "16px" : _document.addEventListener("DOMContentLoaded", _window);
        }(), 
        count(), 
        _window.addEventListener("resize", count), 
        _window.addEventListener("pageshow", function(e) { _window.persisted && count() }), 
        devicePixelRatio >= 2
        ){
        var createElementBody = _document.createElement("body"),
          creareDiv = _document.createElement("div");
        creareDiv.style.border = ".5px solid transparent", createElementBody.appendChild(creareDiv), _documentEle.appendChild(createElementBody), 1 === creareDiv.offsetHeight , _documentEle.removeChild(createElementBody);
      };
    }(window, document);
  </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@4.0.1/reset.min.css">
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.3/weui.min.css">
  <style>
    body { font-size:0.14rem; }
    .ta-l { text-align:left; }
    .head { text-align: center;padding:0.10rem 0.15rem;font-size:0.16rem;border-bottom:0.01rem solid #ddd; }
    .wrap { padding:0.15rem; }
    .icon_back { width:0.24rem;height: auto; }
  </style>

  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>
<body>
  
  <div id="app">
    <header class="weui-flex head">
      <div class="weui-flex__item ta-l"><div class="placeholder"><img class="icon_back" src="/images/back.svg"/></div></div>
      <div class="weui-flex__item"><div class="placeholder">电机操作系统</div></div>
      <div class="weui-flex__item"><div class="placeholder"></div></div>
    </header>

    <div class="wrap">
      <button @click="goA('A1')" class="weui-btn" v-bind:class="{ 'weui-btn_loading': btnStatus.cur == 'A1'&&btnStatus.status==0, 'weui-btn_primary': btnStatus.cur == 'A1'&&btnStatus.status==1, 'weui-btn_plain-primary': btnStatus.cur != 'A1' }">A 前进<i v-show="btnStatus.cur == 'A1'&&btnStatus.status==0" class="weui-loading"></i></button>

      <button @click="backA('A0')" class="weui-btn" v-bind:class="{ 'weui-btn_loading': btnStatus.cur == 'A0'&&btnStatus.status==0, 'weui-btn_primary': btnStatus.cur == 'A0'&&btnStatus.status==1, 'weui-btn_plain-default': btnStatus.cur != 'A0' }">A 后退<i v-show="btnStatus.cur == 'A0'&&btnStatus.status==0" class="weui-loading"></i></button>

      <button @click="goB('B1')" class="weui-btn" v-bind:class="{ 'weui-btn_loading': btnStatus.cur == 'B1'&&btnStatus.status==0, 'weui-btn_primary': btnStatus.cur == 'B1'&&btnStatus.status==1, 'weui-btn_plain-primary': btnStatus.cur != 'B1' }">B 前进<i v-show="btnStatus.cur == 'B1'&&btnStatus.status==0" class="weui-loading"></i></button>
      
      <button @click="backB('B0')" class="weui-btn" v-bind:class="{ 'weui-btn_loading': btnStatus.cur == 'B0'&&btnStatus.status==0, 'weui-btn_primary': btnStatus.cur == 'B0'&&btnStatus.status==1, 'weui-btn_plain-default': btnStatus.cur != 'B0' }">B 后退<i v-show="btnStatus.cur == 'B0'&&btnStatus.status==0" class="weui-loading"></i></button>
    </div>

    <!-- 加载中 -->
    <div class="weui-loadmore" v-show="showLoad">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
    <!-- 加载中 end -->

    <!-- 提示 -->
    <div id="toast" v-show="toastSucess.status" style="display: none;">
        <div class="weui-mask_transparent"></div>
        <div class="weui-toast">
            <i class="weui-icon-success-no-circle weui-icon_toast"></i>
            <p class="weui-toast__content">{{ toastSucess.content }}</p>
        </div>
    </div>
    <!-- 提示 end -->

    <!-- alert -->
    <div v-show="alertDialog.status" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__hd"><strong class="weui-dialog__title">{{ alertDialog.title }}</strong></div>
            <div class="weui-dialog__bd">{{ alertDialog.content }}</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" @click="goError" class="weui-dialog__btn weui-dialog__btn_primary">确定</a>
            </div>
        </div>
    </div>
    <!-- alert end -->
  </div>

  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2.2.0/dist/socket.io.js"></script>
  <script>
    // socket.io引入成功后，可通过io()生成客户端所需的socket对象。
    let socket = io('http://localhost:3002');

    new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            toastSucess: {
              status: false,
              content: '已完成'
            },
            alertDialog: {
              status: false,
              content: '连接失败',
              title: '提示'
            },
            showLoad: true,
            btnStatus: {
              cur: 0,
              status: 0,//1-操作成功， 2-操作失败
              msg: '操作失败了',
            }
        },
        created: function () {
          
        },
        mounted() {
          // socket.emmit()用户客户端向服务端发送消息，服务端与之对应的是socket.on()来接收信息。
          // socket.emit('client message', {msg:'我是客户端发来的消息'});

          // socket.on()用于接收服务端发来的消息
          socket.on('connect',  ()=>{
            console.log('client connect server');
            // socket.on('server message', (data)=>{
            //     console.log(`我是服务端发来的消息: `, data);// 我是服务端发来的消息
            // });
            this.showLoad = false;

            //提示连接上了
            this.toastSucess.status = true;
            this.toastSucess.content = '欢迎使用';

            setTimeout(()=>{
              this.toastSucess.status = false;
              this.toastSucess.content = '已完成';
            }, 1500);
          });

          //断开连接
          socket.on('disconnect', ()=>{
            console.log('client disconnect');
          });
          
          //连接socket出错了
          socket.on('connect_error', (error) => {
            console.log('连接出错了， ', error)
            this.showLoad = false;
            // alert('连接出错了')
            this.alertDialog.status = true;
            socket.close();
          });

          //监听电机返回的数据
          socket.on('DjResponed', (data)=>{
            console.log('电机返回的数据', data);//{content: "A-前进", button: "A1", status: 1, msg: ""}
            if(data){
              this.btnStatus.cur = data.status == 0?0 : data.button;
              this.btnStatus.status = data.status;
              this.btnStatus.msg = data.msg || this.btnStatus.msg;
              // console.log(this.btnStatus)
              
              if( data.status == 0 ){
                // 返回操作出错
                alert(this.btnStatus.msg)
              }
            }else{
              aler('操作出错了')
            }
          })
        },
        methods: {
          // A 前进
          goA (id){
            /*
            ** conten - 按钮内容
            ** button - A 电机进 按钮：A1, A 电机退 按钮：A0, B 电机进 按钮：B1, B 电机退 按钮：B0
            */
            this.btnStatus.cur = id;
            socket.emit('webOptions', {content:'A-前进', button: 'A1'});
          },
          // A 后退
          backA (id){
            this.btnStatus.cur = id;
            socket.emit('webOptions', {content:'A-后退', button: 'A0'});
          },
          // B 后退
          goB (id){
            this.btnStatus.cur = id;
            socket.emit('webOptions', {content:'B-前进', button: 'B1'});
          },
          // B 后退
          backB (id){
            this.btnStatus.cur = id;
            socket.emit('webOptions', {content:'B-后退', button: 'B0'});
          },
          //跳转连接出错页面
          goError (){
            window.location.replace('/error');
          },
        },
    })
  </script>
</body>
</html>